.App {
  text-align: center;
  margin-top: 250px;
}

.clicked {
  background-color: rgb(6, 5, 5);
}

.non-clicked {
  cursor: 'pointer';
  border-radius: "5px";
  border: "1px solid white";
  height: "50px",
}

/* :hover .non-clicked {
  background-color: rgb(6, 5, 5);
} */